<footer id="colophon" role="contentinfo">
  <nav class="sitemap" role="navigation">
    {{ range where .Site.Pages "Params.menu" "main" }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
    {{- partial "extra-menu.html" . -}}
  </nav>
  <nav class="sitemap" role="navigation">
    {{ range where .Site.AllPages "Params.menu" "!=" "main" }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
  </nav>
  <div class="copyright">
    <div>Copyright © {{ dateFormat "2006" now }} Accountantskantoor Kuhlman</div>
  </div>
  <div class="logo-caption">Aangesloten bij:</div>
  <div class="logos">
    <div class="boxes">
      <img src="/images/uploads/Logo-Novaa-2.png" class="vignette">
      <img src="/images/uploads/lid-van-nba-logo.hrjpg.jpg">
      <img src="/images/uploads/Novak-logo-FC-aangesloten-bij-producten-diensten.png" class="vignette">
    </div>
  </div>
</footer>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
